<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Attribution</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/instructions">User Instructions</a></li>
                <li><a href="/project-evolution">Project Evolution</a></li>
                <li><a href="/attribution">Attribution</a></li>
                <li><a href="/results">Results</a></li>
            </ul>
        </nav>

    <h1>Attribution</h1>
    
    <ul>
        <li>
            <strong>OpenAI's Programming Platform:</strong> We utilized OpenAI's comprehensive documentation, particularly their guide on speech-to-text functionality, available at <a href="https://platform.openai.com/docs/guides/speech-to-text">OpenAI Speech-to-Text Documentation</a>. This resource was essential to understand how to effectively implement OpenAI's API key for our project.

        </li>
        <li>
            <strong>FreeCodeCamp Tutorial:</strong> To grasp the fundamentals of creating a Telegram bot using Python, we referred to the detailed tutorial provided by FreeCodeCamp. This tutorial served as a guiding light in navigating Telegram's API and implementing essential bot functionalities. Tutorial: <a href="https://www.freecodecamp.org/news/how-to-create-a-telegram-bot-using-python/">here</a>.

        </li>
        <li>
            <strong>Telegram's API Documentation:</strong> Utilizing Telegram's API key needed a thorough understanding of Telegram's API functionalities. We found invaluable assistance in a tutorial provided by SendPulse, which elucidated the process of creating a Telegram chatbot. Tutorial:  <a href="https://sendpulse.com/knowledge-base/chatbot/telegram/create-telegram-chatbot">here</a>.

        </li>
    </ul>
</body>
</html>
