<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Echo Writer & Speaker Bot!</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/readme">Read Me</a></li>
            <li><a href="/results">Results</a></li>
        </ul>
    </nav>
    <p>Hello! Welcome to our comprehensive guide on our innovative bot. Here you will find everything you need to know about the bot, including detailed insights into the development process, our findings, and step-by-step instructions on how to utilize it effectively</p>
    <img src="{{ url_for('static', filename='pic.png') }}" alt="Our Bots Logo">
</body>
</html>
