<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>How does the bot work?</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/instructions">User Instructions</a></li>
            <li><a href="/project-evolution">Project Evolution</a></li>
            <li><a href="/attribution">Attribution</a></li>
            <li><a href="/results">Results</a></li>
        </ul>
    </nav>
    <h1>How does the bot work?</h1>
    <p>
    To get started with the bot, follow these steps:
    </p>
    <ol>
        <li>Fork this repository <a href="https://github.com/stephanieakerman/Term-Project.git">HERE</a>.</li>
        <li>Clone the forked repository to your local machine using GitHub Desktop.</li>
        <li>Ensure you have Python installed on your system along with the necessary dependencies. You can do this by running the following commands in your terminal:</li>
    </ol>
    <pre><code>pip install python-telegram-bot
pip install openai
pip install flask</code></pre>
    <p>Once the dependencies are installed, navigate to the cloned directory and execute the <code>RUN.PY</code> script. This script will initiate both the bot and the associated website functionalities, allowing seamless interaction.</p>
    <h3>Once the user has run the code, follow these simple steps to open the bot in Telegram:</h3>
    <p>
        <ol>
            <li>Click <a href="https://t.me/EchoWriterBot">HERE</a> to open a chat with the bot in Telegram.</li>

            <li>Once the chat window is open, start the conversation by pressing 'start'.</li>

            <li>The bot will reply with a prompt, guiding you on how to proceed further.</li>

            <li>Depending on the features you wish to use, input the appropriate commands as instructed by the bot: Send a text to convert it to speech, or an audio message to convert it to text!</li>

            <li>Enjoy the experience and let our bot help you with your communication tasks!</li>
            
        </ol>
    </p>

</body>
</html>

